<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous">
    </script>
    <title>GeoSound - Login</title>
</head>

<body>
</br>
    <center><h1>GeoSound</h1></center>
    <br/>
    <center>Welcome to Geosound!</center> 
    <center>Please enter your login information or create an account.</center>
    <br/>
    <br/>
    <div class="container">
        <form action= "{% url 'home-library' 'returning-user' %} ">
            <div class="form-group">
              <label for="inputEmail">Email Address:</label>
              <input type="email" class="form-control" id="inputEmail" name="usr_email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password:</label>
              <input type="password" class="form-control" id="inputPassword" name="usr_password" placeholder="Password">
            </div>
            <center><input type = "submit" class="btn btn-primary btn-lg" onclick="location.href='{% url 'home-library' 'returning-user'%}'" value="Login"></center>
            <br/>
            <center><button type = "button" class="btn btn-info btn-sm" onclick="location.href='{% url 'new-user' %}'">Create Account</button></center>
          </form>
    </div>
    
</body>
</html>